- form_tag session_path do
  %p
    %label{:for => "login"} Login
    = text_field_tag 'login'

  %p
    %label{:for => "password"} Password
    = text_field_tag 'password'

  %p
    = submit_tag 'Log in'

%p= link_to "Forgot Password?", :controller => 'user', :action => 'forgot_password'
