%h1 Forgot Password

- form_tag url_for(:action => 'create_password_reset_code') do
  %p
    %label Email Address
    = text_field_tag :email, "", :size => 50

  %p
    = submit_tag "Request Password"
