
- form_tag url_for(:action => "change_forgotten_password") do
  = hidden_field_tag :password_reset_code, @password_reset_code

  %p
    %label Password:
    = password_field_tag :password

  %p
    %label Confirm Password:
    = password_field_tag :password_confirmation

  %p
    = submit_tag "Reset Your Password"
